@*@usingstatic CharityApplication.Models.General*@
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        @Html.ActionLink("Helping Hands", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav mr-auto">
                @if (CharityApplication.Models.General.userLoginStatus == true)
                {
                    <li class="nav-item">
                        @Html.ActionLink("Dashboard", "Index", "UserAction", new { @area = "" }, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Donation History", "History", "UserAction", new { @area = "" }, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" target="_blank" href=@string.Concat("https://kovan.etherscan.io/tx/",CharityApplication.Models.General.userTx)>Verify on Etherscan</a>
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Edit Profile", "Edit", "User", new { @area = "", Id = CharityApplication.Models.General.userId }, new { @class = "nav-link" })@*<a class="nav-link" href="About">About</a>*@
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Delete Profile", "Delete", "User", new { @area = "", id = CharityApplication.Models.General.userId }, new { @class = "nav-link" })
                    </li>
                }

                @if (CharityApplication.Models.General.orgLoginStatus == true)
                {
                    <li class="nav-item">
                        @Html.ActionLink("Dashboard", "Index", "OrganizationAction", new { @area = "" }, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Manage Causes", "ManageCauses", "Cause", new { @area = "" }, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Edit Profile", "Edit", "Organization", new { @area = "", Id = CharityApplication.Models.General.orgId}, new { @class = "nav-link" })@*<a class="nav-link" href="About">About</a>*@
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Delete Profile", "Delete", "Organization", new { @area = "", id = CharityApplication.Models.General.orgId}, new { @class = "nav-link" })
                    </li>
                }
            </ul>
            <ul class="navbar-nav flex-md-row-reverse">
                @if (CharityApplication.Models.General.orgLoginStatus == false && CharityApplication.Models.General.userLoginStatus == false)
                {
                    <li class="nav-item">
                        @Html.ActionLink(" Organization Login", "Login", "Organization", new { @area = "" }, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("User Login", "Login", "User", new { @area = "" }, new { @class = "nav-link" })
                    </li>
                }
                
                @if (CharityApplication.Models.General.orgLoginStatus == true)
                {
                    <li class="nav-item">
                        @Html.ActionLink(string.Concat("Logout ", CharityApplication.Models.General.orgName), "Logout", "Organization", new { @area = "" }, new { @class = "nav-link" })
                    </li>
                }
                @if (CharityApplication.Models.General.userLoginStatus == true)
                {
                    <li class="nav-item">
                        @Html.ActionLink(string.Concat("Logout ", CharityApplication.Models.General.userName), "Logout", "User", new { @area = "" }, new { @class = "nav-link" })
                    </li>
                }



            </ul>
        </div>
    </nav>
 <div class="body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Helping Hands</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>
</html>
