@*@usingstatic CharityApplication.Models.General*@
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/Custom/assets/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/Content/Custom/assets/css/style.css" rel="stylesheet" />
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        @Html.ActionLink("Helping Hands", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav mr-auto">
                @if (CharityApplication.Models.General.userLoginStatus == true && CharityApplication.Models.General.orgLoginStatus == false)
                {
                    <li class="nav-item">
                        @Html.ActionLink("Dashboard", "Index", "UserAction", new { @area = "" }, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Donation History", "History", "UserAction", new { @area = "" }, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" target="_blank" href=@string.Concat("https://rinkeby.etherscan.io/tx/",CharityApplication.Models.General.userTx)>Verify on Etherscan</a>
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Edit Profile", "Edit", "User", new { @area = "", Id = CharityApplication.Models.General.userId }, new { @class = "nav-link" })@*<a class="nav-link" href="About">About</a>*@
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Delete Profile", "Delete", "User", new { @area = "", id = CharityApplication.Models.General.userId }, new { @class = "nav-link" })
                    </li>
                }

                @if (CharityApplication.Models.General.orgLoginStatus == true && CharityApplication.Models.General.userLoginStatus== false)
                {
                    <li class="nav-item">
                        @Html.ActionLink("Dashboard", "Index", "OrganizationAction", new { @area = "" }, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Manage Causes", "ManageCauses", "Cause", new { @area = "" }, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Edit Profile", "Edit", "Organization", new { @area = "", Id = CharityApplication.Models.General.orgId}, new { @class = "nav-link" })@*<a class="nav-link" href="About">About</a>*@
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Delete Profile", "Delete", "Organization", new { @area = "", id = CharityApplication.Models.General.orgId}, new { @class = "nav-link" })
                    </li>
                }
            </ul>
            <ul class="navbar-nav flex-md-row-reverse">
                @if (CharityApplication.Models.General.orgLoginStatus == false && CharityApplication.Models.General.userLoginStatus == false)
                {
                    <li class="nav-item">
                        @Html.ActionLink(" Organization Login", "Login", "Organization", new { @area = "" }, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Donor Login", "Login", "User", new { @area = "" }, new { @class = "nav-link" })
                    </li>
                }
                
                @if (CharityApplication.Models.General.orgLoginStatus == true && CharityApplication.Models.General.userLoginStatus== false)
                {
                    <li class="nav-item">
                        @Html.ActionLink(string.Concat("Logout ", CharityApplication.Models.General.orgName), "Logout", "Organization", new { @area = "" }, new { @class = "nav-link" })
                    </li>
                }
                @if (CharityApplication.Models.General.userLoginStatus == true && CharityApplication.Models.General.orgLoginStatus == false)
                {
                    <li class="nav-item">
                        @Html.ActionLink(string.Concat("Logout ", CharityApplication.Models.General.userName), "Logout", "User", new { @area = "" }, new { @class = "nav-link" })
                    </li>
                }



            </ul>
        </div>
    </nav>
    <div>
        @RenderBody()
        <hr />
        <footer id="footer">
            <div class="footer-top">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 footer-contact">
                            <h4>Contact Us</h4>
                            <p>
                                <strong>Phone:</strong> +91 87879 54885<br>
                                <strong>Email:</strong> info@helpinghands.com<br>
                            </p>
                            </div>
                        @*<div class="social-links col-lg-6 footer-contact">*@
                            <div class="social-links col-lg-6 footer-contact">
                                <h4>Social Handles</h4>
                                <a href="https://twitter.com/MominSamin" class="twitter"><i class="fa fa-twitter"></i></a>
                                <a href="https://www.facebook.com/samin.momin.96/" class="facebook"><i class="fa fa-facebook"></i></a>
                                <a href="https://www.instagram.com/samin_momin/" class="instagram"><i class="fa fa-instagram"></i></a>
                                <a href="https://www.linkedin.com/in/samin-momin-32a889145/" class="linkedin"><i class="fa fa-linkedin"></i></a>
                            </div>

                        @*</div>*@

                    </div>
                </div>
            </div>

            <div class="container">
                <div class="copyright">
                    &copy; Copyright <strong>Helping Hands</strong>. All Rights Reserved
                </div>
                <div class="credits">
                    <!--
                  All the links in the footer should remain intact.
                  You can delete the links only if you purchased the pro version.
                  Licensing information: https://bootstrapmade.com/license/
                  Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=TheEvent
                -->
                    @*Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>*@
                </div>
            </div>
        </footer>

    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>
</html>
