@model IEnumerable<CharityApplication.ViewModels.DonationHistoryVM>

@{
    ViewBag.Title = "Donations History";
}

<div class="body-content">
    <h2 class="text-center">Donations History</h2>

    <table class="table">
        <tr class="bg-primary">
            <th>
                @Html.DisplayNameFor(model => model.userName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.date)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr class=@item.status>
                <td>
                    @Html.DisplayFor(modelItem => item.userName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.date)
                </td>
                <td>
                    <a href=@string.Concat("https://rinkeby.etherscan.io/tx/", item.transactionHash) target="_blank" class="btn btn-info rounded-pill" })>Verify on Etherscan</a>
                </td>
            </tr>
        }

    </table>
</div>