@model CharityApplication.ViewModels.DonationViewModel

@{
    ViewBag.Title = "Donate";
}
<div class="body-content">
    <h2 class="text-center">Donate</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.orgName, htmlAttributes: new { @class = "control-label col-md-6" })
                <div class="col-md-10">
                    @Html.DisplayTextFor(model => model.orgName)
                    @Html.ValidationMessageFor(model => model.orgName, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.causeName, htmlAttributes: new { @class = "control-label col-md-6" })
                <div class="col-md-10">
                    @Html.DisplayTextFor(model => model.causeName)
                    @Html.ValidationMessageFor(model => model.causeName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.amount, htmlAttributes: new { @class = "control-label col-md-6" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.amount, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.amount, "", new { @class = "text-danger" })
                </div>
            </div>


            <div class="text-xl-center">
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Donate" class="btn btn-success mx-3" />
                        @Html.ActionLink("Back to List", "Index","UserAction",new { },new {@class="btn btn-info" })
                    </div>
                </div>
            </div>
        </div>
    }

    <div>
        
    </div>
</div>