@model CharityApplication.ViewModels.UserIndexViewModel

@{
    ViewBag.Title = "Index";
}
<h2 class="text-lg-center">Active Causes</h2>
@for (int i = 0; i < Model.row; i++)
{
    <div class="row">
        @for (int j = 0; j < 3; j++)
        {
            if ((i * 3 + j) < Model.cols)
            {
                <div class="col-md-4">
                    <div class="card flex-md-row mb-4 shadow-sm h-md-250 border-primary">
                        <div class="card-body d-flex flex-column align-items-start">
                            <h5 class="d-inline-block mb-2 text-primary">@Model.causes.ElementAt(i * 3 + j).name</h5>
                            <h6 class="mb-0">
                                @Html.ActionLink(@Model.orgMap[@Model.causes.ElementAt(i * 3 + j).orgId], "ViewOrg", "UserAction", new { orgId = @Model.causes.ElementAt(i * 3 + j).orgId }, new { @class= "btn btn-outline-success" })
                            </h6>
                            <br />
                            <h6 class="mb-1 text-primary">@string.Concat("Goal: ₹", @Model.causes.ElementAt(i * 3 + j).goal)</h6>
                            <p class="card-text text-white text-justify mb-auto">@Model.causes.ElementAt(i * 3 + j).shortDescription</p>
                            @Html.ActionLink("Click To View More", "ViewCause", "UserAction", new {causeId= @Model.causes.ElementAt(i * 3 + j).Id }, new { @class = "btn btn-outline-primary btn-sm" })
                        </div>
                        @if (@Model.causes.ElementAt(i * 3 + j).type == "Community")
                        {
                            <img class="card-img-right flex-auto d-none d-lg-block" alt="Thumbnail [200x250]" src="~/CardImages/Community.png" style="width: 200px; height: 250px;">
                        }
                        else if (@Model.causes.ElementAt(i * 3 + j).type == "Housing")
                        {
                            <img class="card-img-right flex-auto d-none d-lg-block" alt="Thumbnail [200x250]" src="~/CardImages/Housing.jpg" style="width: 200px; height: 250px;">
                        }
                        else if (@Model.causes.ElementAt(i * 3 + j).type == "Overseas Aid")
                        {
                            <img class="card-img-right flex-auto d-none d-lg-block" alt="Thumbnail [200x250]" src="~/CardImages/Overseas Aid.jpg" style="width: 200px; height: 250px;">
                        }
                        else if (@Model.causes.ElementAt(i * 3 + j).type == "Poverty Relief")
                        {
                            <img class="card-img-right flex-auto d-none d-lg-block" alt="Thumbnail [200x250]" src="~/CardImages/Poverty Relief.jpg" style="width: 200px; height: 250px;">
                        }
                        else if (@Model.causes.ElementAt(i * 3 + j).type == "Training")
                        {
                            <img class="card-img-right flex-auto d-none d-lg-block" alt="Thumbnail [200x250]" src="~/CardImages/Training.png" style="width: 200px; height: 250px;">
                        }
                        else if (@Model.causes.ElementAt(i * 3 + j).type == "Medical")
                        {
                            <img class="card-img-right flex-auto d-none d-lg-block" alt="Thumbnail [200x250]" src="~/CardImages/Medical.jpg" style="width: 200px; height: 250px;">
                        }
                        else if (@Model.causes.ElementAt(i * 3 + j).type == "Sports Clubs")
                        {
                            <img class="card-img-right flex-auto d-none d-lg-block" alt="Thumbnail [200x250]" src="~/CardImages/Sports Clubs.jpg" style="width: 200px; height: 250px;">
                        }
                        else if (@Model.causes.ElementAt(i * 3 + j).type == "Arts and Culture")
                        {
                            <img class="card-img-right flex-auto d-none d-lg-block" alt="Thumbnail [200x250]" src="~/CardImages/Arts and Culture.jpg" style="width: 200px; height: 250px;">
                        }
                        else if (@Model.causes.ElementAt(i * 3 + j).type == "Public Service and Military")
                        {
                            <img class="card-img-right flex-auto d-none d-lg-block" alt="Thumbnail [200x250]" src="~/CardImages/Public Service and Military.jpg" style="width: 200px; height: 250px;">
                        }
                        else if (@Model.causes.ElementAt(i * 3 + j).type == "Education")
                        {
                            <img class="card-img-right flex-auto d-none d-lg-block" alt="Thumbnail [200x250]" src="~/CardImages/Education.jpg" style="width: 200px; height: 250px;">
                        }
                        else if (@Model.causes.ElementAt(i * 3 + j).type == "Children's")
                        {
                            <img class="card-img-right flex-auto d-none d-lg-block" alt="Thumbnail [200x250]" src="~/CardImages/Children.png" style="width: 200px; height: 250px;">
                        }
                        else if (@Model.causes.ElementAt(i * 3 + j).type == "Disability")
                        {
                            <img class="card-img-right flex-auto d-none d-lg-block" alt="Thumbnail [200x250]" src="~/CardImages/Disability.png" style="width: 200px; height: 250px;">
                        }
                        else if (@Model.causes.ElementAt(i * 3 + j).type == "Environmental")
                        {
                            <img class="card-img-right flex-auto d-none d-lg-block" alt="Thumbnail [200x250]" src="~/CardImages/Environmental.jpg" style="width: 200px; height: 250px;">
                        }
                        else if (@Model.causes.ElementAt(i * 3 + j).type == "Religious")
                        {
                            <img class="card-img-right flex-auto d-none d-lg-block" alt="Thumbnail [200x250]" src="~/CardImages/Religious.png" style="width: 200px; height: 250px;">
                        }
                        else if (@Model.causes.ElementAt(i * 3 + j).type == "Animal")
                        {
                            <img class="card-img-right flex-auto d-none d-lg-block" alt="Thumbnail [200x250]" src="~/CardImages/Animals.jpg" style="width: 200px; height: 250px;">
                        }
                        else
                        {
                            <img class="card-img-right flex-auto d-none d-lg-block" alt="Thumbnail [200x250]" src="~/CardImages/Elderly.jpg" style="width: 200px; height: 250px;">
                        }
                    </div>
                </div>
            }
            else
            {
                break;
            }
        }
    </div>
}
