@model CharityApplication.ViewModels.CauseViewModel

@{
    ViewBag.Title = "ViewCause";
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet">
<link href="~/Content/Custom2/css/one-page-wonder.css" rel="stylesheet">

<header class="masthead text-center text-white">
    <div class="masthead-content">
        <div class="container">
            <h1 class="masthead-heading mb-0">@Model.Cause.name</h1>
            <h2 class="masthead-subheading mb-0">@Model.Organization.name</h2>
            <h3 class="text-center my-3">@Model.Cause.shortDescription</h3>
            <div class="row">
                <div class="col-md-6">@Html.ActionLink("Donate", "Donate", "UserAction", new { causeId = Model.Cause.Id, orgId = Model.Cause.orgId, userId = CharityApplication.Models.General.userId }, new { @class = "btn btn-primary btn-xl rounded-pill mt-5" })</div>
                <div class="col-md-6"> <a href=@string.Concat("https://kovan.etherscan.io/tx/",Model.Cause.transactionhash) target="_blank" class = "btn btn-primary btn-xl rounded-pill mt-5" })>Verify on Etherscan</a></div>
            </div>
        </div>
    </div>
    <div class="bg-circle-1 bg-circle"></div>
    <div class="bg-circle-2 bg-circle"></div>
    <div class="bg-circle-3 bg-circle"></div>
    <div class="bg-circle-4 bg-circle"></div>
</header>

<section>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 order-lg-2">
                <div class="p-5">
                    <img class="img-fluid rounded-circle" src="~/Content/Custom2/img/01.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="p-5">
                    <h2 class="display-4">@Model.Cause.type</h2>
                    <h4 class="card-subtitle my-2">Goal: ₹@Model.Cause.goal</h4>
                    <h4 class="card-subtitle my-2">Collected: ₹@Model.Cause.collected</h4>
                    <p>@Model.Cause.longDescription</p>
                </div>
            </div>
        </div>
    </div>
</section>


